body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/* Image Section */
.image-section {
    text-align: center;
    padding: 20px;
  }

  .image-section img {
    max-width: 40%;
    height: auto;
    border: 1px solid #ddd;
  }
header {
    background-color: #db1d1d;
    color: white;
    text-align:center;
    padding: 50px;
    left: 130px;
    margin-bottom: 10px; 
    
}


.syllabus {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.logo {
    position: fixed;
    top: 10px;
    bottom:10px ; /* Adjust as needed */
    right: 30px; /* Adjust as needed */
    width: 150px; /* Adjust as needed */
    height: 150px;
    display: block;
    margin: 0 auto;
     }

     h3 {
        color: #333;
        
    
    }
    
    ul {
        list-style-type: square;
        padding-left: 20px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    
    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }
    
    th {
        background-color: #b49393;
       color : white;
    }
    div {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 50px;
    }
    
    .btn {
        display: inline-block;
        padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #db1d1d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}
.btn:hover {
    background-color: #f31326;
}
    

